html{
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.first-container{
    padding: 0;
    height: 600px;
    overflow: hidden;
   
}
.fader{
    height: 600px;
    width: 100%;
    background-color: #0a0a0a;
    position: absolute;
    opacity: 0.6;
}
.bg1{
    /* width: 20%;
    padding: 15%; */
    height: 600px;
    width: 100%;
    z-index: 1;
}
.home-nav{
    background-color: #2c2a2a;
    color: #fff;
    display: flex;
    justify-content: space-between;
}



.home-text{
    position: absolute;
    font-size: 70px;
    font-weight: 500;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.about-text{
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    background-color:beige;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    -border-radius: 25px;
    
}
.Ordernow{
    width: 200px;
    font-size: 30px;
    padding: 15px;
    background-color: #f86f14;
    color: #fff;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
.options{
    display: flex;
    margin-right: 45px;
}
.auth{
    right: 0;
}
.options>div{
    padding: 17px;
    padding-bottom: 13px;
    cursor: pointer;
    font-size: 17px;
}

.options>div:hover{
    color: #f86f14;
}

.text_a{
    padding: 2%;
    color: black;
    
}
.subhead{
    color: #f86f14;
}
.homeimages{
    display: flex;
}

.homeimages>img{
    width: 300px;
    height: 300px;
    margin: 20px;
}
.logo{
    height: 50px;
    width: auto;
    margin: 5px;
}
.gprec{
    display:flex;
    margin:10px;
    padding-left: 50px;
    padding-inline-start: 7%;
}

    


